/*div.easy_social_box {
  height: 28px;
}*/

div.easy_social_box.vertical {
  height: 68px;
}

.easy_social_box div.easy_social-widget {
  margin: 0 4px 0 0;
  padding: 0;
  overflow: hidden;
  float: left;
  padding-right: 5px;
}

.easy_social_box div.easy_social-widget.last {
  margin-right: 0;
}

.easy_social_box.vertical div.easy_social-widget {
  width: 58px;
  height: 62px;
}

.easy_social_box.vertical div.easy_social-widget.easy_social-widget-googleplus {
  width: 52px;
}

.easy_social_box.vertical div.easy_social-widget.easy_social-widget-facebook {
  width: 70px;
}
